*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    
}
header{
    display: flex;
    width: 1050px;
    justify-content: space-between;
    margin: auto;
    height: 100px;
    align-items: center;
}
header .logo img{
    width: 200px;
    height: 56.39px;
    cursor: pointer;
}
.header--list ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-transform: uppercase;
}
.header--list ul li{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #0a2453;
    font-size:1em;
    margin-left: 30px;
    cursor: pointer;
}
.header--list ul li a{
    text-decoration: none;
    color: #0a2453;
}

.content{
    width: 1050px;
    margin: auto;
    border-top: 1px solid rgb(243, 241, 241);
    padding-top: 30px;
}
.content h3{
        font-size: 1.7em;
    line-height: 1.3;
    color: #555;
    padding-bottom: 20px;
    font-weight: 700;
}
.content span{
    display: block;
    color: #777;
    line-height: 1.6;
}
.content h4{
    color: #777;
    line-height: 50px;
}

.footer{
    margin-top: 30px;
    background-color: rgba(241, 227, 227, 0.62);
    height: 420px;
    padding-bottom:5px;
}
.footer .footer__top{
    width: 1050px;
    margin: auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.footer .footer__top .left h3{
        font-size: 1.3em;
    line-height: 1.3;
    padding-bottom: 20px;
    font-weight: 700;
    color: #555;
}
.footer .footer__top .left ul li{
    list-style: none;
    color: #777;
    padding-bottom: 10px;
}
.footer .footer__top .left span{
    color: rgb(94, 92, 92);
    font-weight: 600;
    padding-left: 30px;
}
.footer .footer__top .left p{
    padding-left: 10px;
    display: inline;
}
.footer .footer__top .right{

}
.footer__bottom{
    background-color: #0a2453;
    width: 100%;
    height: 40px;
    background-color: #7FC142;
    position: sticky;
    bottom: 0;
    position: fixed;
}
.footer .footer__info{
    width: 1050px;
    margin: auto;
}
.footer__bottom ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    color: white;
    line-height: 40px;
    text-align: center;

}
.footer__bottom ul li{
    width: 345px;
    text-align: center;
    border-right: 1px solid white;
    cursor: pointer;
}
.footer__bottom ul li:hover{
    color: black;
     transition-duration: 0.7s ;
}
.footer__bottom ul li:last-child{
    border: none;
}