*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    
}
header{
    display: flex;
    width: 1050px;
    justify-content: space-between;
    margin: auto;
    height: 100px;
    align-items: center;
}
header .logo img{
    width: 200px;
    height: 56.39px;
    cursor: pointer;
}
.header--list ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-transform: uppercase;
}
.header--list ul li{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #0a2453;
    font-size:1em;
    margin-left: 30px;
    cursor: pointer;
}
.content{
    width: 1050px;
    margin: auto;
    border-top: 1px solid rgb(243, 241, 241);
    padding-top: 30px;
}
.content .content__top{
    display: flex;
    justify-content: space-between;
}
.content .content__top .top--left{
    padding-top: 10px;
}
.content .content__top .top--left h3{
    padding-left: 8px;
    display: inline;
    font-weight: 600;
    text-transform: uppercase;
}
.content .content__top .top--left span{
    color:    rgba(102,102,102,0.7);
    font-size: 20px;
    text-transform: uppercase;
}
.content .content__top .top--right{
    display: flex;
}
.content .content__top .top--right span{
    padding-right: 30px;
    color: #777;
    padding-top: 10px;
}
.content .content__top .top--right select {
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 0 0.75em ;
    height: 2.507em;
    font-size: .97em;
    border-radius: 0;
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    background-color: #fff;
    color: #333;
    box-shadow: inset 0 -1.4em 1em 0 rgb(0 0 0 / 2%);
    outline: none;
    width: 250px;
    display: block;
    padding-right: 5px;
}
.content .content__top .top--right .box select:hover{
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
}
.content  .content__bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.content  .content__bottom .bottom--left{
    width: 240px;
}
.content  .content__bottom .bottom--left h3{
    font-weight: 600;
    line-height: 1.05;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #777;
    font-size: 16px;
    position: relative;
    padding-bottom: 40px;
}
.content  .content__bottom .bottom--left h3::after{
    content: "";
    width: 30px;
    height: 3px;
    position: absolute;
    bottom: 15px;
    left: 0px;
    background-color: rgba(5, 5, 5, 0.1);
}
.content  .content__bottom .bottom--left .box{
    height: 64px;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid rgb(218, 215, 215);
    display: flex;
}
.content  .content__bottom .bottom--left .box img{
    height: 45px;
    width: 45px;
    padding-right: 15px;
}
.content  .content__bottom .bottom--left .box:last-child{
    border-bottom: none;
}
.content  .content__bottom .bottom--right {
    display: flex;
    flex-wrap: wrap;
    width: 780px;
    justify-content: space-between;
}
.content  .content__bottom .bottom--right .box{
    width: 248px;
    height: 320px;
}
.content  .content__bottom .bottom--right .box img{
    width: 248px;
    height: 248px;
    padding-bottom: 20px;
}
.content  .content__bottom .bottom--right .box span{
    color: #081c41;
    display: inline;
    font-weight: bold;
    line-height: 1.3;
    font-size: 16px;
}
.footer{
    margin-top: 30px;
    background-color: rgba(241, 227, 227, 0.62);
    height: 420px;
    padding-bottom:5px;
}
.footer .footer__top{
    width: 1050px;
    margin: auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.footer .footer__top .left h3{
        font-size: 1.3em;
    line-height: 1.3;
    padding-bottom: 20px;
    font-weight: 700;
    color: #555;
}
.footer .footer__top .left ul li{
    list-style: none;
    color: #777;
    padding-bottom: 10px;
}
.footer .footer__top .left span{
    color: rgb(94, 92, 92);
    font-weight: 600;
    padding-left: 30px;
}
.footer .footer__top .left p{
    padding-left: 10px;
    display: inline;
}
.footer .footer__top .right{

}
.footer__bottom{
    background-color: #0a2453;
    width: 100%;
    height: 40px;
    background-color: #7FC142;
    position: sticky;
    bottom: 0;
    position: fixed;
}
.footer .footer__info{
    width: 1050px;
    margin: auto;
}
.footer__bottom ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    color: white;
    line-height: 40px;
    text-align: center;

}
.footer__bottom ul li{
    width: 345px;
    text-align: center;
    border-right: 1px solid white;
    cursor: pointer;
}
.footer__bottom ul li:hover{
    color: black;
     transition-duration: 0.7s ;
}
.footer__bottom ul li:last-child{
    border: none;
}