*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    
}
header{
    display: flex;
    width: 1050px;
    justify-content: space-between;
    margin: auto;
    height: 100px;
    align-items: center;
}
header .logo img{
    width: 200px;
    height: 56.39px;
    cursor: pointer;
}
.header--list ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-transform: uppercase;
    justify-content: space-between;
}
.header--list ul li{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #0a2453;
    font-size:1em;
    margin-left: 30px;
    cursor: pointer;
}
.content{
    border-top: 1px solid rgb(243, 241, 241);
    width: 1050px;
    margin: auto;
    display: flex;
    padding-top: 30px;
}
.content .content__img img{
    width: 510px;
    height: 350px;
}
.content .content__info{
    padding-left: 30px;
    padding-top: 5px;
}
.content .content__info span{
    display: block;
    padding-bottom: 20px;
    font-size: .85em;
    color: #777;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    cursor: pointer;
}
.content .content__info h3{
    padding-bottom: 40px;
    font-size: 1.7em;
    line-height: 1.3;
    font-weight: 700;
    position: relative;
}
.content .content__info h3::after{
    position: absolute;
    background-color: rgba(5, 5, 5, 0.1);
    content: "";
    width: 30px;
    height: 3px;
    top:50px;
    left: 0;
}

.content .content__info ul li{
    list-style: none;
    margin-bottom: 20px;
    color: #777;
    font-size: 15.5px;
}
.content .content__info ul li:last-child{
    border-bottom: 1px solid rgb(243, 241, 241);

}
.content__info .icon{
    padding-top: 20px;
}
.content__info .icon ul{
    display: flex;
}
.content__info .icon ul li{
    color: silver;
    line-height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid silver;
    margin-left: 5px;
    cursor: pointer;
}
.content__info .icon ul li:first-child{
    margin-left: 0;
}
.content__info .icon ul .facebook:hover{
    background-color: rgb(26, 26, 148);
}
.content__info .icon ul .facebook:hover i{
    color: white;
}
.content__info .icon ul .twitter:hover{
    background-color: white;
}
.content__info .icon ul .twitter:hover   i{
    color: #1D9BF0;
}
.content__info .icon ul .google i:hover{
    color: rgb(206, 46, 46);
}
.content__info .icon ul .map i:hover{
    color: rgb(9, 156, 9);
}



.footer{
    background-color: #0a2453;
    width: 100%;
    height: 40px;
    background-color: #7FC142;
    position: sticky;
    bottom: 0;
}
.footer .footer__info{
    width: 1050px;
    margin: auto;
}
.footer ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    color: white;
    line-height: 40px;
    text-align: center;

}
.footer ul li{
    width: 345px;
    text-align: center;
    border-right: 1px solid white;
    cursor: pointer;
}
.footer ul li:hover{
    color: black;
     transition-duration: 0.7s ;
}
.footer ul li:last-child{
    border: none;
}   